version: 2.1
jobs:
  check:
    docker:
      - image: tiltdev/tilt-extensions-ci@sha256:e1990914dbfdd357ef880110faeb1eaa68bd85b7668a54f9b7aed8e098f83c0c

    steps:
      - checkout
      - run: GOBIN=$HOME/.bin go get github.com/tilt-dev/tilt-extensions-ci && go install 'github.com/tilt-dev/tilt-extensions-ci@v1.1.0'
      - run: $HOME/.bin/tilt-extensions-ci .

  test:
    docker:
      - image: tiltdev/tilt-extensions-ci@sha256:e1990914dbfdd357ef880110faeb1eaa68bd85b7668a54f9b7aed8e098f83c0c

    steps:
      - setup_remote_docker:
          version: '20.10.6'
      - checkout
      - run: ctlptl create cluster kind --registry=ctlptl-registry && timeout -v -k 60s 15m ./test.sh

workflows:
  version: 2
  build:
    jobs:
      - check
      - test
