version: 2.1
jobs:
  validate:
    docker:
      - image: docker/tilt-extensions-ci@sha256:17cb1f0b1316d5ce3e602fc698d3f48481f8cf8101c0e9f19ed714cf4ad69793

    steps:
      - checkout
      - run: GOBIN=$HOME/.bin go install 'github.com/tilt-dev/tilt-extensions-ci@v1.1.0'
      - run: $HOME/.bin/tilt-extensions-ci .

  shellcheck:
    docker:
      - image: docker/tilt-extensions-ci@sha256:17cb1f0b1316d5ce3e602fc698d3f48481f8cf8101c0e9f19ed714cf4ad69793

    steps:
      - checkout
      - run: make shellcheck

  test:
    # A common error is to build an extension that doesn't properly handle
    # spaces in paths, which is common on macOS (/Application Support/)
    working_directory: ~/tilt extensions
    docker:
      - image: docker/tilt-extensions-ci@sha256:17cb1f0b1316d5ce3e602fc698d3f48481f8cf8101c0e9f19ed714cf4ad69793

    steps:
      - setup_remote_docker:
          version: '20.10.11'
      - checkout
      - run: ctlptl create cluster kind --registry=ctlptl-registry && timeout -v -k 60s 20m ./test.py --changed

workflows:
  version: 2
  build:
    jobs:
      - validate
      - shellcheck
      - test
