version: 2.1
jobs:
  validate:
    docker:
      - image: tiltdev/tilt-extensions-ci@sha256:1fef97113de8538066e67d220367d953056993aca333382aca1e91b35c907bf4

    steps:
      - checkout
      - run: GOBIN=$HOME/.bin go get github.com/tilt-dev/tilt-extensions-ci && go install 'github.com/tilt-dev/tilt-extensions-ci@v1.1.0'
      - run: $HOME/.bin/tilt-extensions-ci .

  shellcheck:
    docker:
      - image: tiltdev/tilt-extensions-ci@sha256:1fef97113de8538066e67d220367d953056993aca333382aca1e91b35c907bf4

    steps:
      - checkout
      - run: make shellcheck

  test:
    docker:
      - image: tiltdev/tilt-extensions-ci@sha256:1fef97113de8538066e67d220367d953056993aca333382aca1e91b35c907bf4

    steps:
      - setup_remote_docker:
          version: '20.10.6'
      - checkout
      - run: ctlptl create cluster kind --registry=ctlptl-registry && timeout -v -k 60s 15m ./test.sh

workflows:
  version: 2
  build:
    jobs:
      - validate
      - shellcheck
      - test
